{% extends "main.html" %}

{% block tabs %}
  {{ super() }}

  <style>
    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Show background image */
    .md-main {
      background-color: transparent;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }
  </style>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}
