{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}

  <style>
    /* Custom background */
    body {
      /* Full height */
      height: 100%;

      /* No margin */
      margin: 0;

      /* The image used */
      background-image: url("/images/home-bg.svg");

      /* Center and scale the image nicely */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    /* Transparent header and tabs */
    .md-header {
      /* The image used */
      background-image: url("/images/home-bg.svg");

      /* Center and scale the image nicely */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .md-tabs {
      background-color: transparent;
    }

    {% block main_style %}
      .md-main {
        background-color: var(--md-default-bg-color);
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
      }
    {% endblock %}
  </style>
{% endblock %}
